.column {
	border-radius:0;
	position:relative;
	z-index:1;
	display:inline-block;
	overflow:hidden;
	width:350px;
	height:100%;
	font-size:0.9rem;
	white-space:normal;
	border-right:0!important;
	margin:0
}

.column-holder {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap
}

.column-body {
	overflow-y:auto;
	overflow-x:hidden;
	position:absolute;
	bottom:0;
	top:50px
}
