.column {
	border-radius:0;
	position:relative;
	z-index:1;
	display:inline-block;
	overflow:hidden;
	width:350px;
	height:100%;
	font-size:0.9rem;
	white-space:normal;
	border-right:0!important;
	margin:0
}

.column-header {
	padding:16px;
	background:var(--columnHeaderBackground);
	color:var(--columnHeaderText);
	box-shadow:0 1px 10px var(--columnHeaderShadow);
	height:55px
}

.column-header-link {
	color:var(--columnHeaderText);
	font-size:16px;
	position:absolute;
	top:0;
	height:55px;
	left:0;
	right:0;
	padding:16px;
}

.column-header-link i {
	margin-right:9px
}

.column-title,.column-username {
	display:inline
}

.column-title {
	font-weight:500;
	font-size:16px;
	padding-left: 7px;
}

.column-username {
	font-size:13px;
	padding-left:5px
}

.column-holder {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap
}

.composer-open .column-holder {
	left:320px
}

.column-body {
	overflow-y:auto;
	overflow-x:hidden;
	position:absolute;
	bottom:0;
	top: 56px;
	/* padding: 10px; */
	width: 100%;
	box-sizing: border-box;
	border-right: var(--columnBorderColor) 3px solid
}

.column-wrapper {
    position:absolute;
    width:350px;
    top:0;
    bottom:0;
    left:0;
    transition:left 0.5s var(--animationTiming);
	background-color:var(--columnBackground)
}

.column-level-1 .column-wrapper-level-2 {
    position:absolute;
	left:360px;
	pointer-events: none;
	top:0
}

.column-level-2 .column-wrapper-level-2 {
	left:0;
	z-index:3
}


.column-level-2 .column-wrapper-level-1 {
	left:-200px;
	pointer-events: none;
}
