a {
    text-decoration: none
}

.txt-mute {
    color:var(--txtMuteText);
}

::placeholder,
input::placeholder,
textarea::placeholder
{
	color:var(--placeholderText);
	font-family:Roboto, "Noto Sans"
}

.is-hidden {
	display:none
}

.btn:hover, .btn-large:hover, .btn-small:hover {
	background-color:inherit
}
