@keyframes tweetIncomingTimeline {
	0% {opacity:0;margin-top:-43px}
	20% {opacity:0}
	100% {opacity:1;margin-top:7px}
}

.tweet-header {
    display:inline;
    pointer-events:none;
    white-space:nowrap
}

.interaction-user-link {
    white-space:nowrap
}

.interaction-display-name {
    padding-left:7px;
    font-weight:500;
}

.interaction-attribution {
    padding-left:7px
}

.interaction-recipient-link {
    display:block;
    padding-top:6px
}

.interaction-header {
    white-space:unset
}

.tweet-header>a {
    display:inline-block
}

.tweet-header>a:not(.retweet-link) {
	pointer-events:none
}
.tweet-header>a:not(.retweet-link)>* {
	pointer-events:all
}

.retweet-link {
    display:block!important;
    float:left;
    margin-right:5px;
}

.tweet-header>* {
    pointer-events:all
}

.tweet-display-name,.tweet-username,.interaction-display-name,.interaction-attribution {
    display:inline;
    vertical-align:top
}

.tweet-display-name {
    padding-left:10px;
    text-overflow:clip;
    white-space:nowrap;
    text-overflow:clip;
    font-weight:500;
    color:var(--tweetDisplayNameText)
}

.tweet-username {
    padding-left:5px;
    font-size:0.9em;
    margin-top:3px
}

article {
    max-width:100%;
    margin-top:7px;
    margin-bottom:7px;
    padding:10px;
    width:100%;
	animation:tweetIncomingTimeline 0.4s var(--animationTiming);
}

.tweet-detail-wrapper .tweet-text {
    font-size:15px
}

.tweet-username-group {
    white-space:nowrap;
    display:inline
}

.tweet-time {
    right:10px;
    top:0;
    float:right
}

.tweet-attribution {
    width:auto;
    display:block;
    padding-left:7px;
    padding-bottom:10px;
    /* float:left; */
    /* margin-left:10px; */
}

.tweet-text {
    padding-left:10px;
    margin-block-start:0;
    margin-block-end:0;
    font-size:14px;
    line-height:1.35;
}

.tweet.has-profile-pic>.tweet-body>.tweet-text {
    padding-left:60px;
    margin-top:-24px
}

.tweet-body {
    min-height:30px;
}

.has-profile-pic .tweet-actions {
    margin-left:50px
}

.tweet-detail-wrapper .tweet-actions {
    margin-left:10px
}

.tweet-detail-wrapper .tweet-action-count {
    font-size:14px;
    font-weight:500
}

 .tweet-action {
     margin-left:12px;
     color:#aaa;
 }

.tweet-action-count {
    display:inline;
    vertical-align:middle;
    margin-left:2px
}

.tweet-media-img {

background-repeat:no-repeat;

background-position:50% 50%;

background-size:cover;

max-height: 100px;

max-width: 170px;
}

.tweet.has-profile-pic>.tweet-media-container>.tweet-media>.tweet-media-img {
    margin-left:60px;
}

.column-settings-media_preview_size-large .tweet.has-profile-pic>.tweet-media-container>.tweet-media>.tweet-media-img {
	margin-left:0;
}

.column-settings-media_preview_size-large .tweet-media-img  {
    max-height: 230px;
    max-width:110%;
}


.column-settings-media_preview_size-large .tweet.has-profile-pic .tweet-media-img {
    margin-left:0
}


.tweet-media-container-grid .tweet-media {
    max-width:49%;
    max-height:149px
}

.tweet-detail-wrapper {
	box-shadow:0 2px 5px var(--tweetDetaiLWrapperShadow);
	box-sizing:border-box;
	padding:5px;
	margin-top:7px;
	z-index:2;
	background-color:var(--tweetDetailWrapperBackground)
}

.quote-tweet {
    padding:10px;
	box-shadow:0 5px 5px var(--quoteTweetShadow);
	background-color:var(--quoteTweetBackground)
}

.has-profile-pic .quote-tweet {
	margin-left:60px;
	max-width:250px
}

.mdl-retweet .quote-tweet {
	max-width:400px
}

.quote-tweet .tweet-text {
    font-size:13px
}

.tweet-media-container {
	max-height: 300px;
	min-height: 100px;
}

.tweet-media-img {
	height:100%;
	width:100%;
	pointer-events:all
}

.tweet-media {
	height:100%;
	width:100%;
	position:absolute;
	max-height:100px;
	pointer-events: none;
}

.quote-tweet .tweet-media,
.quote-tweet .tweet-media-img,
.quote-tweet .tweet-media-container
{
	max-height:100px!important;
	min-height:100px!important;
}
.column-settings-media_preview_size-large .tweet-media,
.column-settings-media_preview_size-large .tweet-media-img
{
	max-height:200px
}

.column-settings-media_preview_size-large .tweet-media-container {
	min-height:200px;
}

.tweet-media-container-grid-2 .tweet-media:nth-child(2) {
	left:50%
}

.tweet-action-like.activated {
	color:var(--likeColor)
}
