:root {
    --columnHeaderBackground:#03a9f4;
    --columnHeaderText:#fff;
    --composePanelShadow:rgba(17,17,17,.25);
    --columnHeaderShadow:rgba(17,17,17,.25);
    --quoteTweetShadow:rgba(17,17,17,.25);
    --tweetDisplayNameText:#000;
    --txtMuteText:#787878;
    --composeBackground:#00BCD4;
    --composeButton:#00BCD4;
    --composeSheetBackground:#fff;
	--composeSheetShadow:rgba(17,17,17,.5);
	--composeSheetOpenShadow:rgba(17,17,17,.5);
	--dropdownShadow:rgba(17,17,17,.25);
    --tweetDetailWrapperBackground:#fff;
    --quoteTweetBackground:#fff;
    --minicardBackground:#fff;
    --modalBackground:#fff;
	--tweetDetaiLWrapperShadow:rgba(0,0,0,.4);
	--modalContainerBackground:rgba(100,100,100,.4);
	--modalShadow:rgba(0,0,0,.4);
	--minicardShadow:rgba(0,0,0,.4);
    --placeholderText:#aaa;
	--columnBackground:#f9f9f9;
	--columnBorder:#e9e9e9;
	--composeTabText:#e9e9e9;
	--composeCharCountInactive:#cacaca;
	--composeCharCountActive:#00BCD4;
	--scrollbar:#d9d9d9;
	--scrollbarHover:#c9c9c9;
}
